*{
    font-family: 'Assistant', sans-serif;
}
.documentos{
    margin-left: 3.55%;
    margin-top: 3%;
}
.marcador-lateral__item {
    border-radius: 0%;
    background-color:#dfe3e1;
    color: #a1a4a6;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.marcador-lateral__item:hover{
    color: #a1a4a6;
    background-color: #dfe3e1;

}
.marcador-lateral__item.active {
    color: #5bcff0;
    border: 1px solid #5bcff0;
    background-color: transparent;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}
.marcador-lateral{
    width: fit-content;
    margin: 0;
    padding: 0;
    
}
.test{
    padding: 0;
}

h1 {
    color: #d592a2;
    font-size: 24px;
    margin-left: 5%;
    margin-bottom: 5%;
    font-weight: 800;
}
h2{
    color: #d592a2;
    font-size: 20px;
    /* margin-left: 5%; */
    /* margin-bottom: 5%; */
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

ul{
    list-style:none;
}

ul, p {
    border-left: 3px solid #5bcffd;
    padding-left: 20px;
    margin-bottom: 50px;
}
p.observacao {
    border: none;
    background-color: #d592a2;
    color: white;
    text-align: center;
    padding: 12px 0;
}
.observacao a {
    text-decoration: none;
    color: white;
}
h4 {
    font-weight: 600;
    font-size: 18px;
}